## Python Basic Programming Assignment 10

### 1. Write a Python program to find sum of elements in list?

In [ ]:
l = [2, 4, 1, 5, 6, 7]

total = 0
for i in l:
    total += i
    
print(total)

25

In [3]:
from functools import reduce
lst = [2,4,1,5,6,7]
print("The sum of the elements in the list is: ",reduce(lambda a,b: a+b,lst))

The sum of the elements in the list is:  25

### 2. Write a Python program to  Multiply all numbers in the list?

In [ ]:
l = [2, 4, 1, 5, 6, 7]

mul = 1
for i in l:
    mul *= i
    
print(mul)

1680

In [4]:
from functools import reduce
lst = [2,4,1,5,6,7]
print("The product of the elements in the list is: ",reduce(lambda a,b: a*b,lst))

The product of the elements in the list is:  1680

### 3. Write a Python program to find smallest number in a list?

In [ ]:
l = [2, 0, 1, 1235, 6, -7123]

minimum = l[0]
for i in l:
    if i < minimum:
        minimum = i
        
print(minimum)

-7123

In [16]:
lst = [2, 0, 1, 1235, 6, -7123]
for i in range(len(lst)):
  for j in range(i,len(lst)):
    if lst[j] < lst[i]:
      lst[i],lst[j] = lst[j],lst[i]
print("The smallest element in the list is: ",lst[0])

The smallest element in the list is:  -7123

### 4. Write a Python program to find largest number in a list?

In [ ]:
l = [2, 0, 1, 1235, 6, -7123]

maximum = l[0]
for i in l:
    if i > maximum:
        maximum = i
        
print(maximum)

1235

In [17]:
lst = [2, 0, 1, 1235, 6, -7123]
for i in range(len(lst)):
  for j in range(i,len(lst)):
    if lst[j] > lst[i]:
      lst[i],lst[j] = lst[j],lst[i]
print("The largest element in the list is: ",lst[0])

The largest element in the list is:  1235

### 5. Write a Python program to find second largest number in a list?

In [ ]:
l = [2, 0, 1, 1235, 6, -7123]
l.sort(reverse=True)
print("Second largest number:", l[1])

Second largest number: 6

In [19]:
lst = [2, 0, 1, 1235, 6, -7123]
for i in range(len(lst)):
  for j in range(i,len(lst)):
    if lst[j] > lst[i]:
      lst[i],lst[j] = lst[j],lst[i]
print("The second largest element in the list is: ",lst[1])

The second largest element in the list is:  6

### 6. Write a Python program to find N largest elements from a list?

In [ ]:
def findLarge(lst, n):
    
    lst.sort(reverse = True)
    return lst[n-1]

In [ ]:
# 2nd Largest Element

l = [2, 0, 1, 1235, 6, -7123]
findLarge(l, 2)

6

In [ ]:
# 4th Largest Element

l = [2, 0, 1, 1235, 6, -7123]
findLarge(l, 4)

1

In [23]:
lst = [2, 0, 1, 1235, 6, -7123]
x = int(input("Enter the value: "))
for i in range(len(lst)):
  for j in range(i,len(lst)):
    if lst[j] > lst[i]:
      lst[i],lst[j] = lst[j],lst[i]
print("sorted list: ",lst)
if x <= len(lst):
  print("The",x," largest element in the list is: ",lst[x-1])
else:
  print("not available")

Enter the value: 10
sorted list:  [1235, 6, 2, 1, 0, -7123]
not available

### 7. Write a Python program to print even numbers in a list?

In [ ]:
l = [2, 0, 1, 1235, 6, -7123, 21, 54, 12, -23, -42]

[ i for i in l if i%2 == 0]

[2, 0, 6, 54, 12, -42]

In [25]:
l = [2, 0, 1, 1235, 6, -7123, 21, 54, 12, -23, -42]
lst = []
for i in l:
  if i%2==0:
    lst.append(i)
print(lst)

[2, 0, 6, 54, 12, -42]

### 8. Write a Python program to print odd numbers in a List?

In [ ]:
l = [2, 0, 1, 1235, 6, -7123, 21, 54, 12, -23, -42]

[ i for i in l if i%2 == 1]

[1, 1235, -7123, 21, -23]

In [26]:
l = [2, 0, 1, 1235, 6, -7123, 21, 54, 12, -23, -42]
lst = []
for i in l:
  if i%2!=0:
    lst.append(i)
print(lst)

[1, 1235, -7123, 21, -23]

### 9. Write a Python program to Remove empty List from List?

In [ ]:
l = [[], 12, 31, [1,2, -23] , [1], [], [123.23], [], 2, 321]

result = []
for i in l:
    if type(i) == list:
        if len(i) != 0:
            result.append(i)
    else:
        result.append(i)

result

[12, 31, [1, 2, -23], [1], [123.23], 2, 321]

In [35]:
lst = [[], 12, 31, [1,2, -23] , [1], [], [123.23], [], 2, 321]
new_lst = []
for i in lst:
  if type(i)==list and len(i)!=0 or type(i)==int:
    new_lst.append(i)
print(new_lst)

[12, 31, [1, 2, -23], [1], [123.23], 2, 321]

### 10. Write a Python program to Cloning or Copying a list?

In [ ]:
list1 = [2,1, 31, 3, 412, 3, 4667, [2,3,1]]
list2 = []

for i in list1:
    list2.append(i)
    
print(list2)

[2, 1, 31, 3, 412, 3, 4667, [2, 3, 1]]

In [36]:
list1 = [2,1, 31, 3, 412, 3, 4667, [2,3,1]]
list2 = list1.copy()
print(list2)

[2, 1, 31, 3, 412, 3, 4667, [2, 3, 1]]

### 11. Write a Python program to Count occurrences of an element in a list?

In [ ]:
l = [1,1,1, 3, 4, 1, 7, 8, 6,6,2,1]

def occurrences(lst, element):
    count = 0
    for i in lst:
        if i == element:
            count += 1
            
    return count

In [ ]:
occurrences(l, 1)

5

In [52]:
l = [1,1,1, 3, 4, 1, 7, 8, 6,6,2,1]
s = []
d = {}
for i in l:
  if i not in s:
   d[i] = l.count(i)
print(l)
x = int(input("Enter the value from the list to know the count: "))
print("The occurence of value",x,"in the list is:",d[x],"time(s).")

[1, 1, 1, 3, 4, 1, 7, 8, 6, 6, 2, 1]
Enter the value from the list to know the count: 1
The occurence of value 1 in the list is: 5 time(s).